/* Small Screen */
.container {
    margin: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__left {
    color: #4361ee;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.hero__genre {
    color: #b5179e;
    margin-bottom: 1rem;
    font-size: 1.59rem;
}

.hero__description {
    color: #64748b;
    margin-bottom: 1rem;
}

.hero__button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #4361ee;
    color: #fff;
    cursor: pointer; /* Menambahkan kursor pointer saat hover */
}

.hero__button:hover {
    background-color: #3349b6; /* Warna latar belakang saat tombol dihover */
}

.hero__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left {
        flex-basis: 40%;
    }

    .hero__right {
        flex-basis: 60%;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }

    .hero {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left {
        flex-basis: 40%;
    }

    .hero__right {
        flex-basis: 60%;
    }
}
